*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
}
.sideheading a{
    text-decoration: none;
    color: black;
    padding: 15px;
}
.main{
    display: flex;
    justify-content: space-around;
    margin-top: 80px;
}
.text1{
    
    padding: 20px;
    width: 700px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.text1 h2{
    text-align: center;
}
.text1 p{
    line-height: 40px;
}
.text1 i{
    padding: 7px;
    font-size: 40px;
    margin-left: 40px;
    padding-top: 40px;

}
.button1{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 40px;
    margin-left: 30px;
}
.button1 button{
    margin-left: 80px;
    font-size: large;
    padding: 10px;
    background-color:rgba(17, 62, 60, 0.918);
    color: white;
}
.main2{
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
    background-color: lightyellow;
    height:500px;
    

}
.text2{
    padding-left: 25px;
    line-height: 45px;
    font-size: 20px;
}
.pic2{
    padding-top: 60px;
    padding-left: 15px;
}
.main3{
    padding-top: 80px;
    display: flex;
    justify-content: space-around;
    margin-top: 100px;
    background-color:honeydew;
    height: 400px;
}
.text3{
    line-height: 20px;
    font-size: large;
}
.text3 i{
    color:gold;
    font-size: 25px;
    padding: 5px;
}
.text41{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 30px;
    
    
}
.text42,.text43,.text44{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    padding: 30px;
   
}
.h10{
    margin-top: 90px;
    margin-left: 20px;
    text-align: center;
}

.text42,.text43,.text44,.text41 h1{
    text-align: center;
}
.box{
    padding: 50px;
    width:480px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}
.main4 button{
    margin-left: 690px;
    font-size: large;
    padding: 10px;
    background-color:rgba(17, 62, 60, 0.918);
    color: white;
}
.box:hover{
    background-color:rgba(17, 62, 60, 0.918) ;
    color: white;
    
}
.main5{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    padding: 20px;
}
.main5 h2{
    text-align: center;
}
.main5 div{
    width :400px;
    box-shadow: rgb(0, 0, 0) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
}
.main5 img{
    padding-left: 50px;
    padding-top: 20px;
}
.footer{
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}
.f1{
    line-height: 34px;
}
.f2{
    margin-right: 200px;  
}
.main5 div:hover{
    background-color: rgba(17, 62, 60, 0.918);
    color: white;
}